In [1]:
import pandas as pd

# Series

In [3]:
dados = [5,6,7,8]
s = pd.Series(dados)
s

0    5
1    6
2    7
3    8
dtype: int64

In [4]:
linhas = [f"Linha{i}" for i in range(4)]

In [7]:
s = pd.Series(data=dados, index=linhas)
s

Linha0    5
Linha1    6
Linha2    7
Linha3    8
dtype: int64

Linha0    5
Linha1    6
Linha2    7
Linha3    8
dtype: int64

## Operando com Series

In [9]:
s1 = s + 7
s1

Linha0    12
Linha1    13
Linha2    14
Linha3    15
dtype: int64

In [11]:
s2 = s1 * s
s2

Linha0     60
Linha1     78
Linha2     98
Linha3    120
dtype: int64

# DataFrames

In [12]:
dados = [[1,2,3],
        [4,5,6],
        [7,8,9]]

In [18]:
df_lista = pd.DataFrame(dados, index=linhas, columns=colunas)

In [17]:
linhas = [f"Linha{i}" for i in range(len(dados))]
colunas = [f"Linha{i}" for i in range(len(dados[0]))]

In [19]:
df_lista

        Linha0  Linha1  Linha2
Linha0       1       2       3
Linha1       4       5       6
Linha2       7       8       9

## Trabalhando com dicion√°rios

In [32]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [33]:
df_dict = pd.DataFrame(data)
df_dict

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

## Concatenando DataFrames

In [34]:
df_lista[df_lista > 0] = "A"
df_lista

TypeError: '>' not supported between instances of 'str' and 'int'

In [36]:
df_dict[df_dict > 0] = "B"
df_dict

TypeError: '>' not supported between instances of 'str' and 'int'

In [37]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [38]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D