# Relatório de Análise V

## Tratamento de Dados Faltantes

In [25]:
import pandas as pd
dados = pd.read_csv("dados/somente_residenciais.csv", sep=";")

In [26]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
23111  False   False    False  False   False  False  False       False  False
23112  False   False    False  False   False  False  False       False  False
23113  False   False    False  False   False  False  False       False  False
23114  False   False    False  False   False  False  False       False  False
23115  False   False    False  False   False  False  False       False   True

[23116 rows x 9 columns]

In [27]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23116 entries, 0 to 23115
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        23116 non-null  object
 1   Bairro      23116 non-null  object
 2   Quartos     23116 non-null  int64
 3   Vagas       23116 non-null  int64
 4   Suites      23116 non-null  int64
 5   Area        23116 non-null  int64
 6   Valor       23107 non-null  float64
 7   Condominio  21246 non-null  float64
 8   IPTU        16235 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

# Vendo quais estão nulos

In [28]:
dados[dados["Valor"].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
60,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1524,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1718,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2055,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2077,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
5061,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8780,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
9169,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9374,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

# Eliminando os valores nulos

In [29]:
A = dados.shape[0]
dados.dropna(subset=["Valor"], inplace=True)
B = dados.shape[0]
print(f"Registros eliminados: {A - B}")

Registros eliminados: 9

## (cont)

### Valores de condomínio nulos

In [30]:
dados[dados["Condominio"].isnull()].shape[0]

1868

In [31]:
apesNulos = (dados["Condominio"].isnull()) & (dados["Tipo"] == "Apartamento")

In [32]:
A = dados.shape[0]
dados = dados[~apesNulos]
B = dados.shape[0]
print(f"Registros eliminados: {A - B}")

Registros eliminados: 745

In [33]:
dados.fillna({"Condominio": 0.0, "Valor": 0.0}, inplace=True)

In [36]:
dados[dados["Condominio"].isnull()].shape[0]

0

## Salvando os dados

In [38]:
dados.to_csv("dados/aluguel_sem_nulo.csv", sep=";")