In [2]:
import pandas as pd
s = pd.Series(list("iaqhgiaounvidjknfcvikanfuiwnd092qia"))
s

0     i
1     a
2     q
3     h
4     g
5     i
6     a
7     o
8     u
9     n
10    v
11    i
12    d
13    j
14    k
15    n
16    f
17    c
18    v
19    i
20    k
21    a
22    n
23    f
24    u
25    i
26    w
27    n
28    d
29    0
30    9
31    2
32    q
33    i
34    a
dtype: object

# Para ver entradas únicas

In [3]:
s.unique()

array(['i', 'a', 'q', 'h', 'g', 'o', 'u', 'n', 'v', 'd', 'j', 'k', 'f',
       'c', 'w', '0', '9', '2'], dtype=object)

# Para ver a distribuição de frequências

In [4]:
s.value_counts()

i    6
n    4
a    4
f    2
k    2
v    2
d    2
u    2
q    2
o    1
g    1
j    1
h    1
c    1
w    1
0    1
9    1
2    1
dtype: int64

# Vendo a distribuição de jogadas de cara/coroa

In [5]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [6]:
eventos = {
    "m1": list(m1),
    "m2": list(m2),
    "m3": list(m3),
    "m4": list(m4),
    "m5": list(m5)
}

In [8]:
jogadas = pd.DataFrame(eventos)
jogadas.head()

  m1 m2 m3 m4 m5
0  C  C  C  c  C
1  C  C  c  C  C
2  c  C  c  C  C
3  C  C  C  c  c
4  C  C  C  c  C

In [12]:
# É assim que obtenho as frequências por coluna!
jogadas.value_counts(subset="m1")

m1
C    25
c    25
dtype: int64

In [14]:
frequencias = pd.DataFrame({"Faces": ["Coroa", "Cara"]}, index=("C", "c"))
frequencias

   Faces
C  Coroa
c   Cara

In [16]:
for moeda in jogadas:
    frequencias[moeda] = jogadas.value_counts(subset=moeda)
frequencias

   Faces  m1  m2  m3  m4  m5
C  Coroa  25  24  31  27  25
c   Cara  25  26  19  23  25