In [1]:
import pandas as pd

data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [3]:
df[["c3", "c1"]]

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

In [8]:
df.loc[["l1", "l3"]]

    c1  c2  c3  c4
l1   1   2   3   4
l3   8  10  11  12

In [9]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [11]:
df.loc["l2", "c1"]

5

In [13]:
df.iloc[1,0]

5

In [14]:
df.loc[["l2", "l3"], ["c2", "c3"]]

    c2  c3
l2   6   7
l3  10  11